name: Auto Open PR

on:
  push:
    branches-ignore:
      - main
      - develop

jobs:
  create-pull-request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get current branch name
        id: vars
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT

      - name: Create Pull Request to develop
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          branch: "auto-pr/${{ steps.vars.outputs.branch }}"

          base: develop

          title: "Auto PR: ${{ steps.vars.outputs.branch }} → develop"
          body: |
            Pull request automática criada a partir do branch:
            **${{ steps.vars.outputs.branch }}**

          labels: auto-pr
