name: Auto Open PR

on:
  push:
    branches-ignore:
      - main
      - develop

jobs:
  create-pull-request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get current branch name
        run: echo "branch_name=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Create Pull Request to develop
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: develop
          head: ${{ env.branch_name }}
          title: "Auto PR: ${{ env.branch_name }} → develop"
          body: "Pull request automática gerada pelo workflow."
          draft: false
